<div>
    <div class="card text-center">
        <div class="card-header default-color white-text">
            Order Summary
        </div>
        <div class="card-body">
            <div id="your-cart">
                <h4 class="card-title">Your Cart</h4><hr>
                <div>
                    <p class="card-text"> <strong> Quantity : </strong></p>
                    <p> 4 item(s) added </p>
                </div>
                <button class="btn btn-danger btn-md">my cart<i class="fa fa-eye fa-1x" aria-hidden="true"></i></button>
                <hr>
                <br>
               <!-- subtotal -->
               <div class="amt">
                    <p class="card-text font-family-bold" id="subtotal"> <strong> Subtotal : </strong> <i class="fa fa-inr" aria-hidden="true"></i> price</p> 
               </div>
               <br>
            <!-- VAT -->
                <div class="amt">
                        <p class="card-text font-family-bold" id="vat"> <strong> VAT : </strong> <i class="fa fa-inr" aria-hidden="true"></i>0.0</p> 
                </div>
                <br>
            <!-- Total -->
                 <div class="amt">
                        <h5 class="card-title">Total<i class="fa fa-inr" aria-hidden="true"></i>0.0 </h5>
                        <!-- <p class="card-text font-family-bold" id="total"> <i class="fa fa-inr fa-1x" aria-hidden="true"></i>0.0 </p>  -->
                 </div>
                 <br>
            </div> 
            <hr>
            <button class="btn btn-warning btn-md">Proceed</button>
        </div>
        <div class="card-footer text-muted default-color white-text">
            <p class="mb-0">2 days ago</p>
        </div>
    </div>
</div>
