<div class="table col-md-12">
  <h3><b>#Batting Statistics</b></h3>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
            <th><b>Career</b></th>
            <th><b>Matches</b></th>
            <th><b>Innings</b></th>
            <th><b>Runs</b></th>
            <th><b>HS</b></th>
            <th><b>Avg</b></th>
            <th><b>SR</b></th>
            <th><b>50s</b></th>
            <th><b>100s</b></th>
            <th><b>4s</b></th>
            <th><b>6s</b></th>
        </tr>
       
      </thead>
      <tbody>
        <tr>
          <th><b>Tests</b></th>
          <th>{{tests_mat}}</th>
          <th>{{tests_inns}}</th>
          <th>{{tests_runs}}</th>
          <th>{{tests_hs}}</th>
          <th>{{tests_avg}}</th>
          <th>{{tests_sr}}</th>
          <th>{{tests_50s}}</th>
          <th>{{tests_100s}}</th>
          <th>{{tests_4s}}</th>
          <th>{{tests_6s}}</th>
        </tr>
        <tr>
            <th><b>ODIs</b></th>
            <th>{{odi_mat}}</th>
            <th>{{odi_inns}}</th>
            <th>{{odi_runs}}</th>
            <th>{{odi_hs}}</th>
            <th>{{odi_avg}}</th>
            <th>{{odi_sr}}</th>
            <th>{{odi_50s}}</th>
            <th>{{odi_100s}}</th>
            <th>{{odi_4s}}</th>
            <th>{{odi_6s}}</th>
          </tr>
          <tr>
              <th><b>T20Is</b></th>
              <th>{{ttwenty_mat}}</th>
              <th>{{ttwenty_inns}}</th>
              <th>{{ttwenty_runs}}</th>
              <th>{{ttwenty_hs}}</th>
              <th>{{ttwenty_avg}}</th>
              <th>{{ttwenty_sr}}</th>
              <th>{{ttwenty_50s}}</th>
              <th>{{ttwenty_100s}}</th>
              <th>{{ttwenty_4s}}</th>
              <th>{{ttwenty_6s}}</th>
            </tr>
            
        
      </tbody>
    </table>
    </div>
    