.img{
    height: 230px;
    width: 100%;
    object-fit: cover;
    
}
.mask{
    cursor: auto;
}
#gallery{
    margin-left: 0px;
    margin-right: 0px;
}
.playBtn{
    font-size: 3em;
    transition: 0.35s;
    cursor: pointer;
}
.playBtn:hover{
    font-size: 4.5em;

}
.modal-content{
    height: 500px;
}
.iframe{
    height: 100%;
}
.modal-body{
    padding: 0px;
    height: 500px;
}
@media only screen and (max-width: 990px) {
    .module {
        height: 100px;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 768px) {
    .img{
        height: 100px;
        width: 100%;
        margin-top: 15px;
    }
    .col-md-6{
        padding: 0px;
    }
}