#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#loader {
    /*top: 46%;
    left: 46%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); */
    margin: 20% auto;
}

.docs-example-viewer-title {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    /* display: grid; */
    -webkit-box-pack: center;
    justify-content: center;
    padding: 8px;
}

.editoption {
    font-size: 18px;
}