<div class="ongoing row text-center">


    <div class="col-md-4" *ngFor="let dt of data">
      <!--Card-->
      <div class="card ongoing  z-depth-2 animated wow fadeIn">
        <!--Card image-->
        <div class="view">
          <img src="{{dt.img}}" class="img-fluid" alt="{{dt.name}}" >
          <a style="cursor:default">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <div class="card-body elegant-color white-text">
          <!--Title-->
          <h4 class="card-title"><b>{{dt.name}}</b></h4>
          <!--Text-->
          <p class="card-text white-text">{{dt.text}}</p>
          <button class="btn btn-outline-white btn-md waves-effect participate" (click)="goToQuiz(dt.name,dt.id)" >Click to
            <b>Participate</b>
          </button>
        </div>
      </div>
      <!--/.Card-->
    </div>


  </div>
  <div class="row text-center" style="margin-top:2%">
      <button mat-fab class="more" color="default" (click)="dataToBeShown=dataToBeShown+3 ; getDataFromServer(dataToBeShown)" >
          <mat-icon aria-label="Example icon-button with a heart icon">expand_more</mat-icon>
        </button>
  </div>