<!-- <nav class="navbar justify-content-between" id="nav">
    <a class="navbar-brand" routerLink="">
        <img src="../../assets/images/logo.png" id="logo">
    </a>
    <form class="form-inline my-1">
        <span *ngIf="isLoggedIn" [style.color]="'white'" id="mdNavText">{{welcomeText}}</span>
        <button mat-icon-button class="storeBtn">
            <i class="fa fa-shopping-bag store" id="storeIcon" aria-hidden="true" matTooltip="Store" routerLink="store" routerLinkActive="active"></i>
        </button>

        <button mat-icon-button *ngIf="!isLoggedIn" id="logoutBtn" matTooltip="Login" (click)="login()" class="material-icons circle">
            <img [src]="userImage" height="35px">
        </button>

        <div *ngIf="isLoggedIn">
            <button mat-icon-button class="material-icons circle" matTooltip="Manage account" id="logoutBtn" [matMenuTriggerFor]="menu">
                <img [src]="userImage" height="40px">
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="account">
                    <mat-icon>supervisor_account</mat-icon>
                    <span>My Account</span>
                </button>
                <button mat-menu-item routerLink="account/credit">
                    <mat-icon>attach_money</mat-icon>
                    <span>My Credits</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>

    </form>
</nav>



<nav class="navbar navbar-expand-lg sticky-top navbar-dark " id="nav2" >
    <a class="navbar-brand" id="smNavWelcome">
        <span id="smNavText" *ngIf="isLoggedIn">{{welcomeText}}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" id="ul2">
            <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    Home
                </a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link" routerLink="user/stories" routerLinkActive="active">
                    Stories
                </a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link" routerLink="/user/team/253802" routerLinkActive="active">
                    Player Stats
                </a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link" routerLink="user/calendar" routerLinkActive="active">Calendar</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link" routerLink="user/gallery" routerLinkActive="active">Gallery</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link" routerLink="user/contests" routerLinkActive="active">Contests</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link" routerLink="user/about" routerLinkActive="active">About Us</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin" data-toggle="collapse" data-target="#navbarNavDropdown">
                <a class="nav-link admin" routerLink="admin" routerLinkActive="activeAdmin" style="color:blue"><b>Admin</b></a>
            </li>

        </ul>


        
    </div>
</nav> -->

<!--Main Navigation-->
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
      <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Opinions</a>
          </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  
  </header>
  <!--Main Navigation-->