<div id="filter-container">
    <div class="card">
        <div class="card-header primary-color white-text">
            Filters
        </div>
        <!-- Card body-->
        <div class="card-body">

            <!-- Type -->
            <div id="type">
                <p class="card-text">
                    <strong>Type</strong>
                </p>
                <div>
                    <!-- type> clothing -->
                    <p class="card-text" id="clothingType">
                        <strong>Clothing</strong>
                    </p>
                    <div>

                        <div>
                            <mat-checkbox>T-shirt</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox>Lower</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox>Pullover</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox>Sports</mat-checkbox>
                        </div>

                        <!-- <div class="form-check">
                                
                            <input type="checkbox" class="form-check-input" id="clothingTypeCheckbox-1">
                            <label for="form-check-label" for="clothingTypeCheckbox-1">T-shirt</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="clothingTypeCheckbox-2">
                            <label for="form-check-label" for="clothingTypeCheckbox-2">Lower</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="clothingTypeCheckbox-3">
                            <label for="form-check-label" for="clothingTypeCheckbox-3">Pullover</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="clothingTypeCheckbox-4">
                            <label for="form-check-label" for="clothingTypeCheckbox-4">Sports Wear</label>
                        </div> -->
                    </div>
                    <hr>
                    <!-- type> shoes -->
                    <p class="card-text" id="shoesType">
                        <strong>Shoes</strong>
                    </p>
                    <div>
                        <!-- type> shoes> brand  -->
                        <p class="card-text" id="brandsSubType">
                            <strong>Brands</strong>
                        </p>
                        <div>
                            <div>
                                <mat-checkbox>Reebok</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox>Puma</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox>Addidas</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox>Polo</mat-checkbox>
                            </div>

                            <!-- <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="brandsSubtypeCheckbox-1">
                                <label for="form-check-label" for="brandsSubtypeCheckbox-1">Reebok</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="brandsSubtypeCheckbox-2">
                                <label for="form-check-label" for="brandsSubtypeCheckbox-2">Puma</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="brandsSubtypeCheckbox-3">
                                <label for="form-check-label" for="brandsSubtypeCheckbox-3">Addidas</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="brandsSubtypeCheckbox-4">
                                <label for="form-check-label" for="brandsSubtypeCheckbox-4">Polo</label>
                            </div> -->
                        </div>
                        <hr>
                        <!-- type> shoes> color -->
                        <p class="card-text" id="colorSubtype">
                            <strong>Color</strong>
                        </p>
                        <div>
                            <div>
                                <mat-checkbox>Blue</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox>Indigo</mat-checkbox>
                            </div>
                            <div>
                                <mat-checkbox>Red</mat-checkbox>
                            </div>

                            <!-- <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="colorSubtypeCheckbox-1">
                                <label for="form-check-label" for="colorSubtypeCheckbox-1"></label>
                            </div> -->
                        </div>
                        <hr>
                    </div>
                    <!-- type> sports -->
                    <p class="card-text" id="sportsType">
                        <strong>Sports</strong>
                    </p>
                    <div>
                        <div>
                            <mat-checkbox>Lower</mat-checkbox>
                        </div>
                        <!-- <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="sportsTypeCheckbox-1">
                            <label for="form-check-label" for="sportsTypeCheckbox-1">Games</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="sportsTypeCheckbox-2">
                            <label for="form-check-label" for="sportsTypeCheckbox-2">Sports kit</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="sportsTypeCheckbox-3">
                            <label for="form-check-label" for="sportsTypeCheckbox-3">All</label>
                        </div> -->
                    </div>
                    <hr>
                    <!-- type> accessories -->
                    <p class="card-text" id="accessoriesType">
                        <strong>Accessories</strong>
                    </p>
                    <div>
                        <div>
                            <mat-checkbox>Watches</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox>Wrist bands</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox>Trendy glasses</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox>Bags</mat-checkbox>
                        </div>
                        <div>
                            <mat-checkbox>All</mat-checkbox>
                        </div>

                        <!-- <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="accessoriesTypeCheckbox-1">
                            <label for="form-check-label" for="accessoriesTypeCheckbox-1">Watches</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="accessoriesTypeCheckbox-2">
                            <label for="form-check-label" for="accessoriesTypeCheckbox-2">Wrist bands</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="accessoriesTypeCheckbox-3">
                            <label for="form-check-label" for="accessoriesTypeCheckbox-3">Trendy glasses</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="accessoriesTypeCheckbox-4">
                            <label for="form-check-label" for="accessoriesTypeCheckbox-4">Bags</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="accessoriesTypeCheckbox-5">
                            <label for="form-check-label" for="accessoriesTypeCheckbox-5">All</label>
                        </div> -->
                    </div>
                </div>
            </div>
            <hr>
            <!-- Size -->
            <div id="size">
                <p class="card-text">
                    <strong>Size</strong>
                </p>
                <div>
                    <div>
                        <mat-checkbox>XS</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox>S</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox>M</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox>L</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox>XL</mat-checkbox>
                    </div>
                    <!-- <div class="form-check">
                        <input type="checkbox" class="filled-in form-check-input" id="sizeCheckbox-1">
                        <label for="form-check-label" for="sizeCheckbox-1">XS</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="sizeCheckbox-2">
                        <label for="form-check-label" for="sizeCheckbox-2">S</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="sizeCheckbox-3">
                        <label for="form-check-label" for="sizeCheckbox-3">M</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="sizeCheckbox-4">
                        <label for="form-check-label" for="sizeCheckbox-4">L</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="sizeCheckbox-5">
                        <label for="form-check-label" for="sizeCheckbox-5">XL</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="sizeCheckbox-6">
                        <label for="form-check-label" for="sizeCheckbox-6">XXL</label>
                    </div> -->
                </div>
            </div>
            <!-- size end -->
            <hr>
            <!-- Price -->
            <div id="price">
                <p class="card-text" id="price">Price</p>
                <mat-slider></mat-slider>
                <!-- <form class="range-field my-4 w-25">
                    <input type="range" min="0" max="100" />
                </form> -->
            </div>
            <hr>
            <!-- rating -->
            <div id="rating">
                <p class="card-text" id="ratingType">
                    <strong>Rating</strong>
                </p>
                <div>
                    <div>
                        <mat-checkbox>Popular</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox>Most Viewed</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox>Recent</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox>All</mat-checkbox>
                    </div>
                    <!-- <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ratingTypeCheckbox-1">
                        <label for="form-check-label" for="ratingTypeCheckbox-1">Popular</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ratingTypeCheckbox-2">
                        <label for="form-check-label" for="ratingTypeCheckbox-2">Most Viewed</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ratingTypeCheckbox-3">
                        <label for="form-check-label" for="ratingTypeCheckbox-3">Recent</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ratingTypeCheckbox-4">
                        <label for="form-check-label" for="ratingTypeCheckbox-4">All</label>
                    </div> -->
                </div>

            </div>
            <hr>
            <!-- offers -->
            <!-- <div id="Offers">
                <p class="card-text" id="offersType">
                    <strong>Offers</strong>
                </p>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="offersTypeCheckbox-1">
                    <label for="form-check-label" for="offersTypeCheckbox-1"> No offers available </label>
                </div>
            </div>
            <hr> -->
            <!-- discounts -->
            <!-- <div id="Discount">
                <p class="card-text" id="discountType">
                    <strong>Discount</strong>
                </p>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="discountTypeCheckbox-1">
                    <label for="form-check-label" for="discountTypeCheckbox-1">No discount availbale</label>
                </div>
            </div>
            <hr> -->
            <!-- availability -->
            <div id="availability">
                <p class="card-text" id="availabilityType">
                    <strong>Availability</strong>
                </p>
                <div>
                    <mat-checkbox>Wrist bands</mat-checkbox>
                </div>
                <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="availabilityTypeCheckbox-1">
                    <label for="form-check-label" for="availabilityTypeCheckbox-1">Include out of stock</label>
                </div> -->
            </div>
        </div>
        <!-- card body -->
        <div class="card-footer text-muted primary-color white-text">
            <p class="mb-0">2 days ago</p>
        </div>
    </div>
    <!-- card -->
</div>
<!-- filter-container -->