<div class="wrapper">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md 6">


      <div class="row">
        <div class="col-md-5">
          <mat-card [ngStyle]="data?.team1==='IND' ? indCardStyle : ''">
            <!-- <h4 class="h4-responsive"><b>{{data?.team1}}</b></h4> -->
            <p><b>{{data?.team1}}</b> {{data?.team1Score}} ({{data?.team1Overs}})</p>
          </mat-card>

        </div>
        <div class="col-md-2" id="vs" >
          <h3 class="h3-responsive"><b>VS</b></h3>
        </div>
        <div class="col-md-5">
          <mat-card [ngStyle]="data?.team2==='IND' ? indCardStyle : ''">
            <!-- <h4><b>{{data?.team2}}</b></h4> -->
            <p><b>{{data?.team2}}</b> {{data?.team2Score}} ({{data?.team2Overs}})</p>
          </mat-card>

        </div>
      </div>

    </div>
    <div class="col-md-3"></div>
  </div>
  
  <div class="row" >
    <div class="col-md-12 text-center" id="result">
        <h5 class="h5-responsive">{{data?.result}}</h5>
        <span>{{data?.date}}</span>
    </div>
    
  </div>
</div>