<div class="col-md-12  table">
    <h3><b>#Bowling Statistics</b></h3>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
              <th><b>Career</b></th>
              <th><b>Mathces</b></th>
              <th><b>Innings</b></th>
              <th><b>Balls</b></th>
              <th><b>Runs</b></th>
              <th><b>Wickets</b></th>
              <th><b>Avg</b></th>
              <th><b>Economy</b></th>
              <th><b>SR</b></th>
              <!-- <th><b>BBM</b></th>
              <th><b>BBI</b></th> -->
          </tr>
         
        </thead>
        <tbody>
          <tr>
            <th><b>Tests</b></th>
            <th>{{tests_mat}}</th>
            <th>{{tests_inns}}</th>
            <th>{{tests_balls}}</th>
            <th>{{tests_runs}}</th>
            <th>{{tests_wickets}}</th>
            <th>{{tests_avg}}</th>
            <th>{{tests_econ}}</th>
            <th>{{tests_sr}}</th>
            <!-- <th>{{tests_bbm}}</th>
            <th>{{tests_bbi}}</th> -->
          </tr>
          <tr>
              <th><b>ODIs</b></th>
              <th>{{odi_mat}}</th>
              <th>{{odi_inns}}</th>
              <th>{{odi_balls}}</th>
              <th>{{odi_runs}}</th>
              <th>{{odi_wickets}}</th>
              <th>{{odi_avg}}</th>
              <th>{{odi_econ}}</th>
              <th>{{odi_sr}}</th>
              <!-- <th>{{odi_bbm}}</th>
              <th>{{odi_bbi}}</th> -->
            </tr>
            <tr>
                <th><b>T20Is</b></th>
                <th>{{ttwenty_mat}}</th>
                <th>{{ttwenty_inns}}</th>
                <th>{{ttwenty_balls}}</th>
                <th>{{ttwenty_runs}}</th>
                <th>{{ttwenty_wickets}}</th>
                <th>{{ttwenty_avg}}</th>
                <th>{{ttwenty_econ}}</th>
                <th>{{ttwenty_sr}}</th>
                <!-- <th>{{ttwenty_bbm}}</th>
                <th>{{ttwenty_bbi}}</th> -->
              </tr>
              
          
        </tbody>
      </table>
      </div>
      