<div class="container">
  <div class="row">
    <div class="card text-center">
      <div class="card-header success-color white-text">
          
      </div>
      <div class="card-body">
        <div class="row coin-holder">
          <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Gold_coin_icon.png" id="coin">
        </div>
        
          <h4 class="card-title">You have earned <b>{{credits}}</b> credits</h4>
          <p class="card-text">Participate in more contests to win exciting prizes</p>
      </div>
      <div class="card-footer text-muted success-color white-text action" routerLink="/user/contests">
          <p class="mb-0">Go to contests</p>
      </div>
  </div>
  </div>
</div>
