<div class="text-center" style="margin-bottom:10%">
        <div class="banner">
                <h2>Welcome to admin dashboard</h2>
        </div>

        <div class="container">

                <div class="row">
                        <div class="col-md-4" routerLink="store" style="margin-top:6%; cursor:pointer">
                                <!--Card Primary-->
                                <div class="card text-center z-depth-1">
                                        <div class="card-body">
                                                <h3 class="text-uppercase font-weight-bold brown-text mt-2 mb-3">
                                                        <strong>Store<br> Management</strong>
                                                </h3>

                                        </div>
                                </div>
                                <!--/.Card Primary-->
                        </div>
                        <div class="col-md-4" routerLink="news" style="margin-top:6%; cursor: pointer">
                                <!--Card Primary-->
                                <div class="card text-center z-depth-1">
                                        <div class="card-body">
                                                <h3 class="text-uppercase font-weight-bold brown-text mt-2 mb-3">
                                                        <strong>News<br> Management</strong>
                                                </h3>

                                        </div>
                                </div>
                                <!--/.Card Primary-->
                        </div>
                        <div class="col-md-4" routerLink="gallery" style="margin-top:6%; cursor:pointer">
                                <!--Card Primary-->
                                <div class="card text-center z-depth-1">
                                        <div class="card-body">
                                                <h3 class="text-uppercase font-weight-bold brown-text mt-2 mb-3">
                                                        <strong>Image<br> Management</strong>
                                                </h3>

                                        </div>
                                </div>
                                <!--/.Card Primary-->
                        </div>
                        <div class="col-md-4" routerLink="videos" style="margin-top:6%; cursor:pointer">
                                <!--Card Primary-->
                                <div class="card text-center z-depth-1">
                                        <div class="card-body">
                                                <h3 class="text-uppercase font-weight-bold brown-text mt-2 mb-3">
                                                        <strong>Video<br> Management</strong>
                                                </h3>

                                        </div>
                                </div>
                                <!--/.Card Primary-->
                        </div>

                        <div class="col-md-4" routerLink="contest" style="margin-top:6%; cursor:pointer">
                                <!--Card Primary-->
                                <div class="card text-center z-depth-1">
                                        <div class="card-body">
                                                <h3 class="text-uppercase font-weight-bold brown-text mt-2 mb-3">
                                                        <strong>Contest<br> Management</strong>
                                                </h3>

                                        </div>
                                </div>
                                <!--/.Card Primary-->
                        </div>
                        <div class="col-md-4" routerLink="contest/add" style="margin-top:6%; cursor:pointer">
                                <!--Card Primary-->
                                <div class="card text-center z-depth-1">
                                        <div class="card-body">
                                                <h3 class="text-uppercase font-weight-bold brown-text mt-2 mb-3">
                                                        <strong>Add<br> a new Contest</strong>
                                                </h3>

                                        </div>
                                </div>
                                <!--/.Card Primary-->
                        </div>
                </div>


        </div>





        <!-- <router-outlet></router-outlet> -->
</div>