<div class="container">
  <div class="row">
    <h4>
      <i class="fa fa-ravelry" aria-hidden="true" [style.color]="'blue'"></i>
      Ongoing
      <span class="bannerSub">
        <b>Contests</b>
      </span>
    </h4>

  </div>

  <div class="subModule">
    <app-ongoing-contests></app-ongoing-contests>
  </div>

  <div class="row module">
    <h4>
      <i class="fa fa-ravelry" aria-hidden="true" [style.color]="'blue'"></i>
      Upcoming
      <span class="bannerSub">
        <b>Contests</b>
      </span>
    </h4>

  </div>
  <div class="subModule">
    <app-upcoming-contests></app-upcoming-contests>
  </div>
  <div class="row module">
    <h4>
      <i class="fa fa-ravelry" aria-hidden="true" [style.color]="'blue'"></i>
      Leader<span class="bannerSub"><b>Board</b>
      </span>
    </h4>

  </div>
  <div class="subModule">
    <app-leaderboard></app-leaderboard>
  </div>
</div>