.vs{
    line-height: 25px;
}   
.divider{
    height: 1px;
    background-color:#304FFE;
}
mat-card{
    /* height: 133.75px; */
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 1px;
    cursor: pointer;
    /* display: flex;
    align-items: center; */
}
@media only screen and (max-width: 768px) {
    .col-md-12{
        padding: 0px;
    }
    mat-card{
        padding-top: 16px;
        padding-bottom: 16px;
    }
}